[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
flask = "*"
pyqt5 = "*"
pymupdf = "*"
websocket-client = "*"
moviepy = "*"
requests = "*"
pywin32 = "*"

[requires]
python_version = "3.8"
