<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中控内容管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--<link rel="icon" type="image/png" href="assets/i/favicon.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">-->
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>中控系统安装包下载</h1>
    </div>
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <label>APP控制端 ： </label>
        <a href="/api/website/app.apk">download - 下载</a>
        <hr>

        <label>设备配置软件 ： </label>
        <a href="/api/website/dev.zip">download - 下载</a>
        <hr>

        <label>客户端软件： </label>
        <a href="/api/website/heroage.zip">download - 下载</a>
        <hr>

        <label>浏览器下载 ： </label>
        <a href="/api/website/Chrome.zip">download - 下载</a>
        <hr>

        <label>鼠标光标隐藏软件 ： </label>
        <a href="/api/website/AutoHideMouseCursor.zip">download - 下载</a>
        <hr>

        <label>测试素材 ： </label>
        <a href="/api/website/temp.zip">download - 下载</a>
        <hr>

        <label>视频转换工具 ： </label>
        <a href="/api/website/freemake.zip">download - 下载</a> <span>(用于解决低配显卡播放高清视频)</span>
        <hr>

        <label>win10网口驱动 ： </label>
        <a href="/api/website/0019-Install_Win10_10023_12252017.zip">download - 下载</a>
        <hr>

        <label>APP控制端（24路） ： </label>
        <a href="/api/website/app24.apk">download - 下载</a>
        <hr>

        <label>APP控制端（40路） ： </label>
        <a href="/api/website/app40.apk">download - 下载</a>
        <hr>

        <label>H5版视频端： </label>
        <a href="/api/website/HVideo.zip">download - 下载</a>
        <hr>

        <label>说明书 ： </label>
        <a href="/api/website/read.pdf">download - 下载</a>
        <hr>
    </div>
</div>
</body>
</html>