{% extends "templates/layout.html" %}
{% block css %}
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ionicons.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
    <!-- jsGrid -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid-theme.min.css') }}">
    <style>
        .pt-2, .py-2 {
            padding-top: .2rem !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ced4da;
        }

        .pt-2.px-3 .input-group {
            display: flex;
            flex-direction: row;
            width: 150px;
        }


    </style>
{% endblock %}
{% block content %}
    {% from "templates/input.html" import input %}
    <!-- Main content -->
    <section class="content">
        <div class="col-12 col-sm-12">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="pt-2 px-3">
                            <div class="input-group" style="width:200px">
                                <select class="form-control select2" style="flex:1 1 0%">
                                    <option selected="selected">展区1</option>
                                    <option>展区2</option>
                                    <option>展区3</option>
                                    <option>展区4</option>
                                    <option>展区5</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-block btn-default btn-sm" id="addScreen"
                                            data-toggle="modal" data-target="#modalConfig"><i class="fas fa-plus"></i>
                                        新屏
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill"
                               href="#custom-tabs-four-home" role="tab" aria-controls="screen"
                               aria-selected="true">列表</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="screen" role="tabpanel"
                             aria-labelledby="custom-tabs-four-home-tab">
                            <div id="contentList"></div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
    <div class="modal fade" id="modalConfig">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增屏幕</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" action="#" enctype="multipart/form-data" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>按钮名称：</label>
                                {{ input('name',class="form-control",placeholder="请输入名称",value="") }}
                                {#<input type="text" class="form-control" id="db_sid" name="sid" placeholder="请输入ID">#}
                            </div>
                            <div class="form-group">
                                <label>对应设备ID：</label>
                                {{ input('devId',class="form-control",placeholder="请输入",value="") }}
                                {#<input type="text" class="form-control" id="db_sid" name="sid" placeholder="请输入ID">#}
                            </div>
                            <div class="form-group">
                                <label>IP：</label>
                                {{ input('ip',class="form-control",placeholder="请输入",value="") }}
                                {#<input type="text" class="form-control" id="db_sid" name="sid" placeholder="请输入ID">#}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="modalForm.submit()">保存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block js %}
    <!-- jsGrid -->
    <script src="{{ url_for('static',filename='plugins/jsgrid/demos/db.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/jsgrid/jsgrid-zh-cn.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ url_for('static',filename='plugins/select2/js/select2.full.min.js') }}"></script>
    <script>
        //$("addScreen").click(function (e) {
        //modalBtn
        //})
        $('.select2').select2()
        jsGrid.locale("zh-cn");
        var my_db = {

            loadData: function (filter) {
                return $.grep(this.clients, function (client) {
                    return (!filter.Name || client.Name.indexOf(filter.Name) > -1)
                        && (filter.Age === undefined || client.Age === filter.Age)
                        && (!filter.Address || client.Address.indexOf(filter.Address) > -1)
                        && (!filter.Country || client.Country === filter.Country)
                        && (filter.Married === undefined || client.Married === filter.Married);
                });
            },

            insertItem: function (insertingClient) {
                this.clients.push(insertingClient);
            },

            updateItem: function (updatingClient) {
            },

            deleteItem: function (deletingClient) {
                var clientIndex = $.inArray(deletingClient, this.clients);
                this.clients.splice(clientIndex, 1);
            }

        };
        my_db.clients = [
            {
                "index": 1,
                "name": "屏幕1",
                "devId": "V1",
                "ip": "0.0.0.1"
            },
            {
                "index": 2,
                "name": "屏幕2",
                "devId": "V2",
                "ip": "0.0.0.2"
            },
            {
                "index": 3,
                "name": "屏幕3",
                "devId": "V3",
                "ip": "0.0.0.3"
            },
            {
                "index": 4,
                "name": "屏幕4",
                "devId": "V4",
                "ip": "0.0.0.4"
            },
            {
                "index": 5,
                "name": "屏幕5",
                "devId": "V5",
                "ip": "0.0.0.5"
            },
            {
                "index": 6,
                "name": "屏幕6",
                "devId": "V6",
                "ip": "0.0.0.6"
            },
            {
                "index": 7,
                "name": "屏幕7",
                "devId": "V7",
                "ip": "0.0.0.7"
            },
            {
                "index": 8,
                "name": "屏幕8",
                "devId": "V8",
                "ip": "0.0.0.8"
            },
            {
                "index": 9,
                "name": "屏幕9",
                "devId": "V9",
                "ip": "0.0.0.9"
            },
            {
                "index": 10,
                "name": "屏幕10",
                "devId": "V10",
                "ip": "0.0.0.10"
            },
            {
                "index": 11,
                "name": "屏幕11",
                "devId": "V11",
                "ip": "0.0.0.11"
            },
            {
                "index": 12,
                "name": "屏幕12",
                "devId": "V12",
                "ip": "0.0.0.12"
            },
            {
                "index": 13,
                "name": "屏幕13",
                "devId": "V13",
                "ip": "0.0.0.13"
            },
            {
                "index": 14,
                "name": "屏幕14",
                "devId": "V14",
                "ip": "0.0.0.14"
            },
            {
                "index": 15,
                "name": "屏幕15",
                "devId": "V15",
                "ip": "0.0.0.15"
            },
            {
                "index": 16,
                "name": "屏幕16",
                "devId": "V16",
                "ip": "0.0.0.16"
            },
            {
                "index": 17,
                "name": "屏幕17",
                "devId": "V17",
                "ip": "0.0.0.17"
            },
            {
                "index": 18,
                "name": "屏幕18",
                "devId": "V18",
                "ip": "0.0.0.18"
            },
            {
                "index": 19,
                "name": "屏幕19",
                "devId": "V19",
                "ip": "0.0.0.19"
            },
            {
                "index": 20,
                "name": "屏幕20",
                "devId": "V20",
                "ip": "0.0.0.20"
            },
            {
                "index": 21,
                "name": "屏幕21",
                "devId": "V21",
                "ip": "0.0.0.21"
            },
            {
                "index": 22,
                "name": "屏幕22",
                "devId": "V22",
                "ip": "0.0.0.22"
            },
            {
                "index": 23,
                "name": "屏幕23",
                "devId": "V23",
                "ip": "0.0.0.23"
            },
            {
                "index": 24,
                "name": "屏幕24",
                "devId": "V24",
                "ip": "0.0.0.24"
            },
            {
                "index": 25,
                "name": "屏幕25",
                "devId": "V25",
                "ip": "0.0.0.25"
            },
            {
                "index": 26,
                "name": "屏幕26",
                "devId": "V26",
                "ip": "0.0.0.26"
            },
            {
                "index": 27,
                "name": "屏幕27",
                "devId": "V27",
                "ip": "0.0.0.27"
            },
            {
                "index": 28,
                "name": "屏幕28",
                "devId": "V28",
                "ip": "0.0.0.28"
            },
            {
                "index": 29,
                "name": "屏幕29",
                "devId": "V29",
                "ip": "0.0.0.29"
            },
            {
                "index": 30,
                "name": "屏幕30",
                "devId": "V30",
                "ip": "0.0.0.30"
            },
            {
                "index": 31,
                "name": "屏幕31",
                "devId": "V31",
                "ip": "0.0.0.31"
            }
        ];
        var gridList = $("#contentList")
        if (gridList.length > 0) {
            gridList.jsGrid({
                height: "100%",
                width: "100%",
                pageSize: 11,
                paging: true,

                data: my_db.clients,

                sorting: true,
                filtering: true,

                fields: [
                    {name: "index", type: "number", width: 50, title: "序号", align: "left"},
                    {name: "name", type: "text", width: 150, title: "按钮名称", align: "center"},
                    {name: "devId", type: "number", width: 150, title: "对应设备ID", align: "center"},
                    {name: "ip", type: "text", width: 200, title: "IP", align: "center"},
                    {
                        name: "opt", type: "text", title: "操作",
                        width: 150,
                        align: "center",
                        readOnly: false,
                        //filtering: false,
                        disabled: false,
                        inserting: false,
                        editing: false,
                        sorting: false,
                        filterTemplate: function () {
                            return ""
                        },
                        insertTemplate: function () {
                            return ""
                        },
                        filterValue: function () {
                            return ""
                        },
                        itemTemplate: function (value, item) {
                            return $('<div class="btn-group">' +
                                '<button type="button" class="btn btn-default" data-type="basic">修改</button>' +
                                '<button type="button" class="btn btn-default" data-type="basic">删除</button>' +
                                '<button type="button" class="btn btn-default" data-type="content">详情</button>' +
                                '<button type="button" class="btn btn-default" data-type="link">关联</button>' +
                                '</div>').on("click", "button",
                                function (e) {
                                    e.stopPropagation();
                                    var el = $(this), type = el.data("type")
                                    if (type == "content") {
                                        window.location.href = "/content/theme"
                                    }
                                })
                            //return $("<a>").attr("href", "/menu?id=" + 1).text("进入配置").css("padding", "9px 15px 9px 15px").click(
                            //function (e) {
                            //e.stopPropagation();
                            //})
                        }

                    }
                ]
            });
        }
    </script>
{% endblock %}