{% extends "templates/layout.html" %}
{% block css %}
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ionicons.min.css') }}">
    <!-- jsGrid -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid-theme.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <style>
        .pt-2, .py-2 {
            padding-top: .2rem !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ced4da;
        }

        .pt-2.px-3 .input-group {
            display: flex;
            flex-direction: row;
            width: 150px;
        }
    </style>
{% endblock %}
{% block content %}
    {% from "templates/input.html" import input %}
    {% set info = dev %}
    <!-- Main content -->
    <section class="content">
        <div id="infoEl" style="display:none;" info="{{ get_flashed_messages(category_filter=type)[0] }}"
             type="{{ type }}"></div>
        <div class="col-12 col-sm-12">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        {#                        <li class="pt-2 px-3">#}
                        {#                            <div class="input-group" style="width:200px">#}
                        {#                                <select class="form-control select2" style="flex:1 1 0%" id="exhibitSelector"></select>#}
                        {#                                <div class="input-group-append">#}
                        {#                                    <button type="button" class="btn btn-block btn-default btn-sm" id="addBtn"#}
                        {#                                            data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i>#}
                        {#                                        成员#}
                        {#                                    </button>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill"
                               href="#custom-tabs-four-home" role="tab" aria-controls="screen"
                               aria-selected="true">列表</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="screen" role="tabpanel"
                             aria-labelledby="custom-tabs-four-home-tab">
                            <div id="contentList"></div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- /.content -->

    {% from "templates/operateModal.html" import addModal,updateModal,delModal %}
    {% macro formModal(prefix="_") %}
        <form role="form" action="#" enctype="multipart/form-data" method="post">
            <input type="hidden" name="id" value=""/>
            {#            <input type="hidden" name="exhibit" value=""/>#}
            <div class="card-body">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">序号：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入" value="" name="number">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">昵称：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入" value="" name="nickname">
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label style="margin-right:55px">等级：</label>
                    <div class="icheck-primary d-inline">
                        <input type="radio" id="{{ prefix }}rankRadio2" name="rank" value=100>
                        <label for="{{ prefix }}rankRadio2">讲解员&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    </div>
                    <div class="icheck-primary d-inline">
                        <input type="radio" id="{{ prefix }}rankRadio1" name="rank" value=800>
                        <label for="{{ prefix }}rankRadio1">管理员&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    </div>
                </div>
            </div>
        </form>
    {% endmacro %}

    {% call addModal() %}
        {{ formModal("add_") }}
    {% endcall %}
    {% call updateModal() %}
        {{ formModal("update_") }}
    {% endcall %}
    {% call delModal() %}
        <p>是否删除该成员！</p>
        <form role="form" action="#" enctype="multipart/form-data" method="post" style="display:none">
            <input type="hidden" name="id" value=""/>
            {#            <input type="hidden" name="exhibit" value=""/>#}
        </form>
    {% endcall %}

{% endblock %}
{% block js %}
    <!-- jsGrid -->
    <script src="{{ url_for('static',filename='plugins/jsgrid/demos/db.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/jsgrid/jsgrid-zh-cn.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ url_for('static',filename='plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static',filename='app/rights.js') }}"></script>
    <script>
        var url = {
            list: "/rights/list",
            //add: "/rights/add",
            update: "/rights/update",
            del: "/rights/del"
        }
        var columns = [
            {name: "id", type: "number", width: 30, align: "left", title: "ID", visible: false},
            {name: "number", type: "number", width: 50, align: "center", title: "序号"},
            {name: "nickname", type: "text", width: 160, align: "center", title: "昵称"},
            {
                name: "rank", type: "text", width: 160, align: "center", title: "等级",
                itemTemplate: function (value, item) {
                    return value > 100 ? "管理员" : "讲解员"
                }
            }
        ]

        createDevApp(columns, url)

    </script>
{% endblock %}